/* Variable Declarations */
:root{
  --font-color: rgb(51, 51, 51);
  --shaded-bg-color: rgb(243, 242, 241);
  --darker-bg-color: rgb(237, 235, 233);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--font-color);
  font-size: 14px;
}

h2{
  font-size: 20px;
  font-weight: 600;
}

/* Global Classes */
.d-flex{
  display: flex;
}

.flexCol{
  display: flex;
  flex-direction: column;
}

.flexGrow{
  flex-grow: 1;
}

.m-10{
  margin: 10px;
}